<div class="formularioPorducto">
    <h2>Registrar producto</h2>
    <form (ngSubmit)="guardar()" [formGroup]="productoForm">
        <div class="form-group">
            <label>Nombre</label>
            <input type="text" formControlName="nombre" class="form-control">
        </div>

        <div class="form-group">
            <label>Descripcion</label>
            <input type="text" formControlName="descripcion" class="form-control">
        </div>

        <div class="form-group">
            <label>Fecha</label>
            <input type="date" formControlName="fecha" class="form-control">
        </div>

        <div class="form-group">
            <label>Precio por Kg</label>
            <input type="number" formControlName="precio" class="form-control">
        </div>

        <div class="form-group">
            <label>Categoria</label>
            <select name="categoria" id="categoria" formControlName="categoria" class="form-control">
                <option [ngValue]="item" *ngFor="let item of categorias">{{item.nombre}}</option>
            </select>


        </div>
        <br>
        <a href="lista.html">
            <button type="submit" class="btn btn-success" [disabled]="productoForm.invalid">Guardar</button>
        </a>


    </form>
</div>

<div class="listaPorducto">
    <h2>Lista de productos</h2>
    <table class="table">

        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Precio por Kg</th>
                <th>Fecha</th>
                <th>Categoria</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of productos">
                <td>{{item.id}}</td>
                <td>{{item.nombre}}</td>
                <td>{{item.descripcion}}</td>
                <td>${{item.precio}}</td>
                <td>{{item.fecha}}</td>
                <td>{{item.categoria.nombre}}</td>
                <td>
                    <button type="button" class="btn btn-danger" (click)="eliminar(item)">Eliminar</button>
                    <button type="button" class="btn btn-warning" (click)="editar(item)">Editar</button>
                </td>
            </tr>
        </tbody>
    </table>

    <div >
        <div class="card-group">
            <div class="card" *ngFor="let item of productos">
              <img class="card-img-top" src="..." alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Nombre producto: {{item.nombre}}</h5>
                <h6 class="card-title">Categoria: {{item.categoria.nombre}}</h6>
                <h6 class="card-title">Precio: ${{item.precio}}</h6>
                <p class="card-text">Descripcion producto: {{item.descripcion}}</p>
                <p class="card-text"><small class="text-muted">Fecha de registro: {{item.fecha}}</small></p>
              </div>
            </div>
          </div>
</div>
<router-outlet></router-outlet>